@model Workout
@{
    ViewBag.Title = "Workout";
}

<h2>@ViewBag.Title</h2>

<form method="post">
    <partial name="CreatePartial" model="Model"/>

    <button type="submit" class="btn btn-primary">Generate</button>
</form>

@if(Model != null)
{
<table class="table">
    <thead>
        <tr>
            <th>Muscles</th>
            <th>IntensityLevel</th>
            <th>Equipments</th>
            <th>Explaination</th>
            <th>Video</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Muscles</td>
            <td>@Model.Intensity_Level</td>
            <td>@Model.Equipments</td>
            <td>@Model.Explaination</td>
            <td>@Model.Video</td>
        </tr>
    </tbody>
</table>
}