@model WorkoutPage
@{
    ViewBag.Title = "Workouts";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Workout", FormMethod.Post))
{
    <partial name="Create" model="Model.Workout"/>
    <button type="submit" class="btn btn-primary">Generate</button>
}
@foreach (var workout in Model.Workouts)
{
    <div class="card">
        <div class="card-header">
            Musclegroup: @workout.Muscles
        </div>
        <div class="card-body">
            <p>@workout.Explaination</p>
            @if (workout.Beginner_Sets != null)
            {
                <p>Sets: @workout.Beginner_Sets</p>
            }
            else if (workout.Expert_Sets != null)
            {
                <p>Sets: @workout.Expert_Sets</p>
            }
            else if (workout.Intermediate_Sets != null)
            {
                <p>Sets: @workout.Intermediate_Sets</p>
            }
            <p>Equipments: @workout.Equipments</p>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="@workout.Video" allowfullscreen></iframe>
            </div>
        </div>
    </div>
}