@model VoedingPage
@{
    ViewBag.Title = "recipes";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Search", "Voeding", FormMethod.Post))
{
    <partial name="Search" model="Model.Voeding"/>
    <button type="submit" class="btn btn-primary">Search</button>
}
<br/>
<h1>Recipes</h1>

<div class="row">
	@foreach (var recipe in Model._Voeding)
	{
		<div class="col-md-4 mb-3">
			<div class="card">
				<img src="@recipe.Image" class="card-img-top" alt="@recipe.Title">
				<div class="card-body">
					<h5 class="card-title">@recipe.Title</h5>
					<!-- Display other recipe information here -->
					<p>Ready in: @recipe.ReadyInMinutes</p>
					<p>Servings: @recipe.Servings</p>
					<a asp-controller="Voeding" asp-action="Details" asp-route-id="@recipe.Id">View Details</a>
				</div>
			</div>
		</div>
	}
</div>


