@model VoedingPage
@{
    ViewBag.Title = "recipes";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Search", "Voeding", FormMethod.Post))
{
    <partial name="Search" model="Model.Voeding"/>
    <button type="submit" class="btn btn-primary">Search</button>
}
<br/>
@foreach (var voeding in Model._Voeding)
{
    <div class="card">
        <div class="card-header">
            @voeding.Title
        </div>
        <div class="card-body">
            <img src="@voeding.ImageUrl" alt="@voeding.Title"/>
            <p>Ready in: @voeding.ReadyInMinutes</p>
            <p>Servings: @voeding.Servings</p>
            <p>Source: @voeding.SourceUrl</p>
        </div>
    </div>
}